body {
    height: 100vr;
}

.Filtro {
    background-color: rgb(167, 167, 167);
    padding: 10pt;
    text-align: center;
   
}

.Navegacion {
    background-color: rgb(33, 33, 138);
    color: white;
    padding: 10pt;
    grid-area: navegacion;
}
.opciones-nav {
    display: none;
}

.Principal {
    background-color: white;
    padding: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: principal;
}
.Lista {
    display: grid;
    grid-template-columns: repeat(1, minmax(200pt, 1fr));
    overflow: hidden;
    height: 290pt;
}
.card-image {
    object-fit: cover;
    max-width: 200pt;
    height: 200pt;
}
.Footer {
    background-color: rgb(0, 0, 83);
    color: white;
    padding: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    text-align: center;
}
/* Mobile */
@media only screen and (max-width: 576px) {
    body {
        background-color: blue;
    }
}

/* Tablet */
@media only screen and (min-width: 992px) {
    body {
        background-color: white;
        display: grid;
        grid-template-areas: 
        "navegacion navegacion navegacion"
        "filtro principal principal"
        "footer footer footer";
    }
    .Filtro {
        background-color: rgb(167, 167, 167);;
        padding: 10pt;
        text-align: center;
        width: 150pt;
    }
    .Principal {
        display: block;
        align-items: center;
        
    }
    .Lista {
        display: grid;
        grid-template-columns: repeat(2, minmax(200pt, 1fr));
        overflow: none;
        height: 300pt;
    }
    .boton-mobile {
        display: none;
    }
    .opciones-nav {
        display: flex;
        align-items: center;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    body {
        background-color: white;
        display: grid;
        grid-template-areas: 
        "navegacion filtro filtro"
        "navegacion principal principal"
        "footer principal principal";
        
    }
    .Navegacion {
        display: flex;
        flex-direction: column;
        height: 480pt;
        
        text-align: center;
    }
  
    .Filtro {
        background-color: rgb(167, 167, 167);;
        padding: 10pt;
        text-align: center;
        width: 1000pt;
    }
    .Principal {
        display: block;
        align-items: center;
    }
    .Lista {
        display: grid;
        grid-template-columns: repeat(4, minmax(200pt, 1fr));
        overflow: auto;
        height: 420pt;
    }
    .boton-mobile {
        display: none;
    }
    .opciones-nav {
        display: block;
        align-items: center;
    }
}

